@tailwind base;
@tailwind components;
@tailwind utilities;

/* Text Cursor ----------------------------------- */
.cursor {
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.cursor.typing {
  animation: none;
}

/* Loading Spinner ----------------------------------- */
.spin-fast {
  animation: spin-fast 0.5s linear infinite;
}

@keyframes spin-fast {
  to {
    transform: rotate(360deg);
  }
}